# General
TIMEZONE="America/Mexico_City"
GEE_PROJECT="your-google-project-id"
SECRET_KEY="your-super-secret-key-here"
DATABASE_FILE="./data/db/app_database.db"
DETECT_NODES_PATH="./services/processor/bin/DetectNodes"
STITCH_NODES_PATH="./services/processor/bin/StitchNodes"

#Thresholds
PROB_THR=0.40
THRESHOLDS_CSV="./services/clusterer/thresholds.csv"

#Model Paths
MODELS_DIR="./services/classifier/modelos_ensaamble"
ENSEMBLE_DIR="./services/classifier/ensemble_seed_2"

# Local Paths
DATA_RAW_DIR="./data/raw_nc"
DATA_AUX_DIR="./data/temp"
LOG_FILE="./data/logs/downloader.log"
APP_LOG_FILE="./data/logs/app_activity.log"
TIME_LOG_FILE="./data/logs/download_times.txt"
NOAA_DIR="./data/noaa_files"
MAP_OUTPUT_DIR="./data/map_outputs"
NODES_DIR="./data/nodes"
STITCH_DIR="./data/nodes_stitch"

# Credentials
TOKEN_FILE="./services/downloader/token.json"
CREDENTIALS_FILE="./services/downloader/credentials.json"

# GEE Assets
PACIFIC_POLY="projects/your-project/assets/pacific_polygon"
ATLANTIC_POLY="projects/your-project/assets/atlantic_polygon"

#Services URLs
CLASSIFIER_API_URL="http://148.204.135.38:8082/predict"